<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletContextAndServletConfig</display-name>
  
  <servlet>
  	<servlet-name>getUserDetails</servlet-name>	
  	<servlet-class>com.servlet.servletcontext.UserDetailServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
  		<servlet-name>getUserDetails</servlet-name>
  		<url-pattern>/UserInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ServletConfigExample</servlet-name>	
  	<servlet-class>com.servlet.servletconfig.ServletConfigExample</servlet-class>
  
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>Arun S</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  		<servlet-name>ServletConfigExample</servlet-name>
  		<url-pattern>/ServletConfig</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>name</param-name>
  	<param-value>Mathan S</param-value>
  </context-param>
  
  <context-param>
  	<param-name>address</param-name>
  	<param-value>Tamil Nadu</param-value>
  </context-param>
  
</web-app>